<div id="campaign-container-div">
    <div class="list-view">
        <ul class="campaign-list">
            <li ng-repeat="campaign in campaigns" ng-class="{selected: $index === selectedIndex}" ng-click="setSelected($index)">
                <h1>{{ campaign.name }}</h1>
                <p>{{ campaign.campaignId }}</p>
            </li>
        </ul>
    </div>
    <div class="detail-view">
        <div class="campaign-detail">
            <div class="row">
                <div class="col-md-9">
                    <h1>{{ campaigns[selectedIndex].name }} <span ng-class="{'badge success': campaigns[selectedIndex].status == 'Active', 'badge warning': campaigns[selectedIndex].status == 'Pending', 'badge danger': campaigns[selectedIndex].status == 'Inactive'}">{{ campaigns[selectedIndex].status }}</span></h1>
                    <div class="bs-callout bs-callout-info">
                        <h4>Campaign ID: <span class="value">{{ campaigns[selectedIndex].campaignId }}</span></h4>
                        <h4>Landing Page URL:
                            <span class="value" ng-show="campaigns[selectedIndex].landingUrl"><a ng-href="http://{{ campaigns[selectedIndex].landingUrl }}">{{ campaigns[selectedIndex].landingUrl }}</a></span>
                            <span class="value" ng-hide="campaigns[selectedIndex].landingUrl"><a ng-click="editCampaignModal()">Set Landing Page URL</a></span>
                        </h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="vertical-button-group">
                        <a class="btn btn-primary" ng-click="editCampaignModal()">Edit</a>
                        <a href="#/disable/{{ id }}" class="btn btn-primary">Disable</a>
                        <a class="btn btn-primary" ng-click="manageCreativeModal()">Manage Creatives</a>
                    </div>
                </div>
            </div>
            <!-- Campaign Statistics -->
            <div class="section-header campaign-statistics">Campaign Statistics</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="stats-div clicks">
                        <h1>{{ campaigns[selectedIndex].thisMonthClicks ? campaigns[selectedIndex].thisMonthClicks : 0 }}</h1>
                        <p>Clicks this month</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-div impressions">
                        <h1>{{ campaigns[selectedIndex].thisMonthImpressions ? campaigns[selectedIndex].thisMonthImpressions : 0 }}</h1>
                        <p>Impressions this month</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-div clicks">
                        <h1>{{ campaigns[selectedIndex].totalClicks ? campaigns[selectedIndex].totalClicks : 0 }}</h1>
                        <p>Total Clicks</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-div impressions">
                        <h1>{{ campaigns[selectedIndex].totalImpressions ? campaigns[selectedIndex].totalImpressions : 0 }}</h1>
                        <p>Total Impressions</p>
                    </div>
                </div>
            </div>
            <div class="row graphs">
                <div class="col-md-5">
                    <div class="graph-title">Daily Clicks</div>
                    <nvd3-line-chart
                        data="clickData"
                        showXAxis="true"
                        showYAxis="true"
                        tooltips="true"
                        interactive="true">
                    </nvd3-line-chart>
                </div>
                <div class="col-md-7">
                    <div class="graph-title">Daily Impressions</div>
                    <nvd3-multi-bar-chart
                        data="impressionData"
                        showXAxis="true"
                        showYAxis="true"
                        tooltips="true"
                        interactive="true">
                    </nvd3-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Manage Creatives Modal -->
<div class="modal fade" id="manage-creatives">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Manage Creatives</h4>
            </div>
            <div class="modal-body">
                <div class="modal-content-div">
                    <h3 class="manage-creative-section-title">Campaign Creatives</h3>
                    <div class="image-slider" ng-show="campaignCreatives">
                        <div class="row">
                            <div class="col-md-1 arrow-box">
                                <a ng-click="sliderPrev()" class="left-arrow"></a>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-4" ng-repeat="creative in campaignCreatives" ng-show="showSlide({{$index}})">
                                        <div class="creative-box">
                                            <div class="image-section">
                                                <div class="creative-box-overlay">
                                                    <a href="{{creative.image}}" target="_BLANK">View Image</a>
                                                </div>
                                                <img ng-src="{{creative.image}}"/>
                                            </div>
                                            <div class="name-section">
                                                <em>{{creative.name}}</em>
                                                <div class="creative-controls">
                                                    <a ng-click = "removeCreativeFromCampaign(creative)"><i class="glyphicon glyphicon-trash"></i></a>
                                                    <a ng-click = "setPrimaryCreative(creative)" ><i class="glyphicon glyphicon-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 arrow-box">
                                <a ng-click="sliderNext()" class="right-arrow"></a>
                            </div>
                        </div>
                    </div>
                    <div class="no-image-notification" ng-hide="campaignCreatives">
                        No creatives associated with this campaign
                    </div>
                    <h3 class="manage-creative-section-title">Account Creatives</h3>
                    <div class="image-slider" ng-show="accountCreatives">
                        <div class="row">
                            <div class="col-md-1 arrow-box">
                                <a ng-click="sliderAccountPrev()" class="left-arrow"></a>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-4" ng-repeat="creative in accountCreatives" ng-show="showAccountSlide({{$index}})">
                                        <div class="creative-box">
                                            <div class="image-section">
                                                <div class="creative-box-overlay">
                                                    <a>View Image</a>
                                                </div>
                                                <img ng-src="{{creative.image}}"/>
                                            </div>
                                            <div class="name-section">
                                                <em>{{creative.name}}</em>
                                                <div class="creative-controls">
                                                    <a ng-click = "addCreativeToCampaign(creative)"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 arrow-box">
                                <a ng-click="sliderAccountNext()" class="right-arrow"></a>
                            </div>
                        </div>
                    </div>
                    <div class="no-image-notification" ng-hide="accountCreatives">
                        No creatives associated with this account
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Intro Modal (If you don't have any creatives) -->
<!-- a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Trigger modal</a -->
<div class="modal fade" id="intro_modal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Starting Creating Content</h4>
            </div>
            <div class="modal-body">
                <div class="modal-content-div">
                    <img src="../img/creative_icon.png"/>
                    <h3>Hi, it looks like you haven't uploaded any creatives yet!</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href='#creative_upload_modal'>Upload your first creative</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Upload Creative Modal -->
<div class="modal fade" id="creative_upload_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Creative</h4>
            </div>
            <form novalidate method="POST" role="form" enctype="multipart/form-data" name="uploadForm" ng-submit="doFileUpload()">
                <div class="modal-body">
                    <div class="modal-content-div" style="text-align:left">
                        <div class="alert alert-danger" ng-hide="isValidImage">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Invalid Image</strong> You need to select either a PNG or JPG image
                        </div>
                        <div class="form-group" ng-class="{'has-error has-feedback': uploadForm.creative_name.$dirty && uploadForm.creative_name.$invalid, 'has-success has-feedback': uploadForm.creative_name.$valid}">
                            <label for="creative_name" class="sr-only">Image Name</label>
                            <input type="text" class="form-control" id="" placeholder="Image Name" name="creative_name" ng-model="creative_name" required>
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="uploadForm.creative_name.$valid"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="uploadForm.creative_name.$dirty && uploadForm.creative_name.$invalid"></span>
                        </div>
                        <div class="form-group">
                            <!-- input type="file" class="form-control" id="" ng-model="creative_image" -->
                            <div class="uk-form-file">
                                <button class="uk-button" style="font-size: 1.0em;">Select Image</button>
                                <input type="file" ng-file-select="onFileSelect($files)">
                            </div>
                        </div>
                        <div class="uk-placeholder" style="text-align:center">
                            <div ng-hide="imageSelected">No image selected</div>
                            <div ng-show="imageSelected"><img id="uploadImage" src="#" alt="Your Image" /></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="!uploadForm.$valid">Upload</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit campaign modal -->
<div class="modal fade" id="edit-campaign">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Campaign</h4>
            </div>
            <form novalidate method="POST" role="form" name="editCampaignForm" ng-submit="doCampaignUpdate()" class="form-horizontal">
                <div class="modal-body">
                    <div class="modal-content-div" style="text-align:left">
                        <div class="alert alert-danger" ng-hide="editCampaignForm.$valid">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Invalid Input</strong> One of your form fields is not valid
                        </div>
                        <div class="form-group" ng-class="{'has-error': editCampaignForm.name.$dirty && editCampaignForm.name.$invalid, 'has-success has-feedback': editCampaignForm.name.$valid}">
                            <label for="name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="Campaign Name" name="name" ng-model="campaigns[selectedIndex].name" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': editCampaignForm.landingUrl.$dirty && editCampaignForm.landingUrl.$invalid, 'has-success': editCampaignForm.landingUrl.$valid}">
                            <label for="landingUrl" class="col-sm-3 control-label">Landing URL</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="" placeholder="Landing URL" name="landingUrl" ng-model="campaigns[selectedIndex].landingUrl" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="!editCampaignForm.$valid">Save Changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->