<!-- Intro Modal (If you don't have any creatives) -->
<!-- a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Trigger modal</a -->
<div class="modal fade" id="intro-modal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Starting Creating Content</h4>
            </div>
            <div class="modal-body">
                <div class="modal-content-div">
                    <img src="../img/creative_icon.png"/>
                    <h3>Hi, it looks like you haven't uploaded any creatives yet!</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href='#creative-upload-modal'>Upload your first creative</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Upload Creative Modal -->
<div class="modal fade" id="creative-upload-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Creative</h4>
            </div>
            <form novalidate method="POST" role="form" enctype="multipart/form-data" name="uploadForm" ng-submit="doFileUpload()">
                <div class="modal-body">
                    <div class="modal-content-div" style="text-align:left">
                        <div class="alert alert-danger" ng-hide="isValidImage">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Invalid Image</strong> You need to select either a PNG or JPG image
                        </div>
                        <div class="form-group" ng-class="{'has-error has-feedback': uploadForm.creative_name.$dirty && uploadForm.creative_name.$invalid, 'has-success has-feedback': uploadForm.creative_name.$valid}">
                            <label for="creative_name" class="sr-only">Image Name</label>
                            <input type="text" class="form-control" id="" placeholder="Image Name" name="creative_name" ng-model="creative_name" required>
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="uploadForm.creative_name.$valid"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="uploadForm.creative_name.$dirty && uploadForm.creative_name.$invalid"></span>
                        </div>
                        <div class="form-group">
                            <!-- input type="file" class="form-control" id="" ng-model="creative_image" -->
                            <div class="uk-form-file">
                                <button class="uk-button" style="font-size: 1.0em;">Select Image</button>
                                <input type="file" ng-file-select="onFileSelect($files)">
                            </div>
                        </div>
                        <div class="uk-placeholder" style="text-align:center">
                            <div ng-hide="imageSelected">No image selected</div>
                            <div ng-show="imageSelected"><img id="uploadImage" src="#" alt="Your Image" /></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="!uploadForm.$valid">Upload</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="title-div">
    <div class="logo">PXLAdmin</div>
</div>

<div id="user-div" >
    <div class="user-information">
        <div class="balance">Balance: <a href="#">$12,458</a></div>
        <div class="menu">
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Menu <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a ui-sref="dashboard.account">Account</a></li>
                    <li><a ng-click="newCreativeModal()">New Creative</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="campaign-menu">
        <div class="call_to_action">Campaigns <a class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Create</a></div>
        <div class="user"><a href="#">Bluewolf
{{ change.val }}</a></div>
    </div>
</div>
<div ui-view="pageView"></div>
