<div id="title-div">
    <div class="logo">PXLAdmin</div>
</div>
<div id="user-div" >
    <div class="user-information">
        <div class="balance">Balance: <a href="#">$12,458</a></div>
        <div class="menu">
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Menu <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a ui-sref="dashboard.account">Account</a></li>
                    <li><a href="#">New Creative</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="campaign-menu">
        <div class="call_to_action">Campaigns <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Create</a></div>
        <div class="user"><a href="#">Bluewolf</a></div>
    </div>
</div>
<div ui-view="pageView"></div>