/* Dashboard Page */
body {
    background: #F9F9F9;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 0px;
    display: block;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
    background-color: transparent;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #dedede;
    -webkit-border-radius: 2px;
}
#title-div {
    background: #0e8dbc;
    position: fixed;
    top: 0; left:0; right:0;
    height: 70px;
    z-index: 9;
}
#title-div .logo {
    padding-left: 35px;
    line-height: 70px;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 200;
    font-size: 2.1em;
    color: #fff;
}
#user-div {
    position: fixed;
    top: 70px;
    left: 0; right: 0;
    background: #FFF;
    z-index: 9;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.11);
    border-top: solid 1px #efefef;
}
#user-div .campaign-menu {
    height: 55px;
    line-height: 55px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}
#user-div .campaign-menu > .call_to_action {
    float: left;
    width: 250px;
    padding-left: 35px;
    border-right: 1px solid #efefef;
}
#user-div .campaign-menu > .call_to_action a.btn-success {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    margin-left: 20px;
}
#user-div .campaign-menu > .user {
    float: left;
    background: url(../img/ic_user.png) no-repeat 35px; center;
    padding-left: 59px;
}
#user-div .user-information {
    float: right;
    height: 55px;
    line-height: 55px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #999;
}
#user-div .user-information > div {
    float: left;
}
#user-div .user-information .menu {
    text-align: right;
    padding-right: 35px;
}
#user-div .user-information .menu button, #user-div .user-information .menu ul li a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.9em;
}
#user-div .user-information .balance {
    margin-right: 50px;
}
#campaign-container-div {
    position: absolute;
    top: 125px; bottom: 0px;
    left: 0; right: 0;
}
#campaign-container-div .list-view {
    background: #FFF;
    position: fixed;
    top: 125px; bottom: 0;
    left: 0;
    width: 250px;
    border-right: solid 1px #efefef;
    overflow-y: auto;
}
#campaign-container-div .list-view h3 {
   background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top,  #efefef 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efefef 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efefef 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efefef 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efefef 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.0em;
    font-weight: 700;
    padding: 15px 25px 15px 35px;
    margin: 0;
    color: #767676;
    border-bottom: solid 1px #efefef;
}
#campaign-container-div .list-view .campaign-list {
    margin: 0; padding: 0;
}
#campaign-container-div .list-view .campaign-list li {
    background: url(../img/spark.png) no-repeat 30px center;
    width: 100%;
    padding: 25px;
    padding-left: 70px;
    border-bottom: #f9f9f9 solid 1px;
    transition: all .3s;
}
#campaign-container-div .list-view .campaign-list li:hover {
    background-color: #f9f9f9;
    transition: all .3s;
    cursor: pointer;
}
#campaign-container-div .list-view .campaign-list li.selected {
    background-image: url(../img/spark_blue.png);
    background-color: #323232;
}
#campaign-container-div .list-view .campaign-list li h1 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
    color: #656565;
}
#campaign-container-div .list-view .campaign-list li.selected h1 {
    color: #fff;
}
#campaign-container-div .list-view .campaign-list li p {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    font-size: 1.0em;
    margin: 0; margin-top: 2px;
}
#campaign-container-div .list-view .campaign-list li.selected p {
    color: #939393;
}
#campaign-container-div .detail-view {
    position: absolute;
    left: 250px; right: 0; top: 0; bottom: 0;
    padding: 35px;
}
#campaign-container-div .detail-view .campaign-detail {
    background: #FFF;
    width: 100%;
    padding: 35px 45px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}
#campaign-container-div .detail-view .campaign-detail h1 {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 200;
    font-size: 2.5em;
    margin: 0;
}
#campaign-container-div .detail-view .campaign-detail h1 span.badge {
    font-family: "Roboto", Arial, sans-serif;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #9FE9C5;
    background: #CFFAE5;
    border-radius: 4px;
}
.bs-callout h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.0em;
    color: #54927E;
}
.bs-callout h4:last-child {
    margin-bottom: 0px;
}
.bs-callout h4 span.value {
    color: #168051;
    font-weight: 200;
}
.campaign-statistics {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #999;
}
.stats-div {
    border: solid 1px #efefef;
    padding: 20px 20px;
    border-radius: 3px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.05);
}
.stats-div.impressions {
    background: url(../img/eye.png) no-repeat 20px center;
    padding-left: 104px;
}
.stats-div.clicks {
    background: url(../img/trends.png) no-repeat 20px center;
    padding-left: 104px;
}
.stats-div > h1 {
    margin-bottom: 2px !important;
    margin-top: 0 !important;
}
.stats-div > p {
    font-family: "Roboto", Arial, sans-serif;
    margin-bottom: 0 !important;
}
.vertical-button-group a {
    display: block;
}
.vertical-button-group a.btn.btn-primary {
    display: block;
    border: 1px solid, #1c78b1 (0.11,0.471,0.694);
    border-radius: 5px;
    background: #2e8ec9;
    background: -moz-linear-gradient(bottom, #2789c7 0%, #3f9fd9 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#2789c7), color-stop(100%,#3f9fd9));
    background: -webkit-linear-gradient(bottom, #2789c7 0%,#3f9fd9 100%);
    background: -o-linear-gradient(bottom, #2789c7 0%,#3f9fd9 100%);
    background: -ms-linear-gradient(bottom, #2789c7 0%,#3f9fd9 100%);
    background: linear-gradient(bottom, #2789c7 0%, #3f9fd9 100%) bottom (0.153,0.537,0.78) to top(0.247,0.624,0.851)filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9fd9', endColorstr='#2789c7',GradientType=0 );
    margin-bottom: 5px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.9em;
    line-height: 1.7em;
    text-align: left;
}
.vertical-button-group a.btn.btn-primary:hover {
    box-shadow: inset 0px 2px 1px rgba(0,0,0,0.1);
}
.graphs {
    margin-top: 50px;
}
.graph-options {
    margin-top: 50px;
}
.graph-title {
    display: inline-block;
    border: solid 1px #ccc;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.badge.success {
    background: #5cb85c;
}
.badge.warning {
    background: #f0ad4e;
}
.badge.danger {
    background: #c9302c;
}
.modal-content-div {
    text-align: center
}
.modal-content-div h3 {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
}
.modal-content-div input.form-control {
    border-radius: 2px;
    font-family: "Roboto", Arial, sans-serif;
    height: 40px;
}
.creative-box {
    border: solid 1px #efefef;
    padding: 5px;
}
.creative-box:hover {
    border-color: #08c;
    cursor: pointer;
}
h3.manage-creative-section-title {
    text-align: left;
    font-size: 1.0em;
    margin-bottom: 15px;
    margin-top:0;
    background: #f9f9f9;
    border: solid 1px #efefef;
    padding: 9px 12px;
    font-weight: 200;
    border-radius: 3px;
}
.no-image-notification {
    border: dashed 1px #efefef;
    padding: 40px;
    text-align: center;
    border-radius: 3px;
}
.no-image-notification, .image-slider {
    margin-bottom: 30px;
}
.modal-btn {
    display: block;
    margin-top: 5px;
    background: #f2f2f2;
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
    background-image: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
    background-image: -ms-linear-gradient(top, #f2f2f2, #e6e6e6);
    background-image: -o-linear-gradient(top, #f2f2f2, #e6e6e6);
    background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial;
    color: #7d7d7d;
    font-size: 0.85em;
    font-weight: 700;
    padding: 7px 15px 7px 15px;
    border: solid #cfcfcf 1px;
    text-decoration: none;
}

.modal-btn:hover {
    background: #ebebeb;
    border-color: #999;
    text-decoration: none;
    color: #656565;
}