<div id="container-div">
    <div class="list-view">
        <ul class="campaign-list">
            <li ng-repeat="campaign in campaigns" ng-class="{selected: $index === selectedIndex}" ng-click="setSelected($index)">
                <h1>{{ campaign.name }}</h1>
                <p>{{ campaign.campaignId }}</p>
            </li>
        </ul>
    </div>
    <div class="detail-view">
        <div class="campaign-detail">
            <div class="row">
                <div class="col-md-9">
                    <h1>{{ campaigns[selectedIndex].name }} <span ng-class="{'badge success': campaigns[selectedIndex].status == 'Active', 'badge warning': campaigns[selectedIndex].status == 'Pending', 'badge danger': campaigns[selectedIndex].status == 'Inactive'}">{{ campaigns[selectedIndex].status }}</span></h1>
                    <div class="bs-callout bs-callout-info">
                        <h4>Campaign ID: <span class="value">{{ campaigns[selectedIndex].campaignId }}</span></h4>
                        <h4>Landing Page URL:
                            <span class="value" ng-show="campaigns[selectedIndex].landingUrl"><a ng-href="http://{{ campaigns[selectedIndex].landingUrl }}">{{ campaigns[selectedIndex].landingUrl }}</a></span>
                            <span class="value" ng-hide="campaigns[selectedIndex].landingUrl"><a ng-click="setLandingUrl()">Set Landing Page URL</a></span>
                        </h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="vertical-button-group">
                        <a href="#/edit/{{ id }}" class="btn btn-primary">Edit</a>
                        <a href="#/disable/{{ id }}" class="btn btn-primary">Disable</a>
                        <a href="#/manage/{{ id }}" class="btn btn-primary">Manage Creatives</a>
                    </div>
                </div>
            </div>
            <!-- Campaign Statistics -->
            <div class="section-header campaign-statistics">Campaign Statistics</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="stats-div clicks">
                        <h1>{{ campaigns[selectedIndex].thisMonthClicks ? campaigns[selectedIndex].thisMonthClicks : 0 }}</h1>
                        <p>Clicks this month</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-div impressions">
                        <h1>{{ campaigns[selectedIndex].thisMonthImpressions ? campaigns[selectedIndex].thisMonthImpressions : 0 }}</h1>
                        <p>Impressions this month</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-div clicks">
                        <h1>{{ campaigns[selectedIndex].totalClicks ? campaigns[selectedIndex].totalClicks : 0 }}</h1>
                        <p>Total Clicks</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-div impressions">
                        <h1>{{ campaigns[selectedIndex].totalImpressions ? campaigns[selectedIndex].totalImpressions : 0 }}</h1>
                        <p>Total Impressions</p>
                    </div>
                </div>
            </div>
            <div class="row graphs">
                <div class="col-md-5">
                    <div class="graph-title">Daily Clicks</div>
                    <nvd3-line-chart
                        data="clickData"
                        showXAxis="true"
                        showYAxis="true"
                        tooltips="true"
                        interactive="true">
                    </nvd3-line-chart>
                </div>
                <div class="col-md-7">
                    <div class="graph-title">Daily Impressions</div>
                    <nvd3-multi-bar-chart
                        data="impressionData"
                        showXAxis="true"
                        showYAxis="true"
                        tooltips="true"
                        interactive="true">
                    </nvd3-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>